* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: yellow;
    font-family: Arial, sans-serif;
}
.pagina {
    width: 90%;
    margin: 30px auto;
    display: grid;
    grid-template-rows: 90px 420px 60px;
    gap: 15px;
}
.nombre,.caja,.pie {
    background-color: #d94b2b;
}
.nombre {
    color: white;
    font-size: 38px;
    font-weight: bold;
    display: grid;
    place-items: center;
}
.central {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.izquierda {
    padding: 20px;
    display: grid;
    place-items: center;
}
.cara {
    width: 90%;
    height: 90%;
    background-color: #39ff39;
    position: relative;
}
.ojo {
    width: 80px;
    height: 110px;
    background-color: #5555c9;
    border-radius: 50%;
    position: absolute;
    top: 15%;
}
.ojo1 {
    left: 15%;
}
.ojo2 {
    right: 15%;
}
.boca {
    width: 70%;
    height: 80px;
    background-color: #5555c9;
    border-radius: 50%;
    position: absolute;
    bottom: 15%;
    left: 15%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 25px;
}
.boca div {
    background-color: white;
}
.central {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.derecha {
    background-color: #d94b2b;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}
.foto {
    background-color: #39ff39;
    display: grid;
    place-items: center;
}
.ovalo {
    width: 75px;
    height: 100px;
    background-color: #5555c9;
    border-radius: 50%;
}
.materia {
    background-color: #39ff39;
    grid-column: 1 / 3;
    display: grid;
    place-items: center;
    color: #777;
    font-size: 30px;
    font-weight: bold;
}
.pie {
    color: white;
    font-size: 22px;
    font-weight: bold;
    display: grid;
    place-items: center;
}